{% extends 'base.html' %}
{% load bootstrap5 %}
{% load myfilters %}

{% block Title %}Matérias{% endblock Title %}
{% block TituloPagina %}<h1>Adicionar Matérias para Aluno</h1>{% endblock TituloPagina %}

{% block head %}

    <script>
        
        addMateriaAluno = function (){

            $('#rows_materias_alunos')[0].innerHTML += '<tr><td scope="row">{{ form.materia|remove_newlines }}</td>'+
                '<td>{{ form.dia_semana|remove_newlines }}</td>'+
                '<td>{{ form.horario_inicial|remove_newlines }}</td>'+
                '<td>{{ form.horario_final|remove_newlines }}</td>'+
                '<td><button type="button" class="btn btn-danger" onclick="delMateriaAluno(this);"><span class="material-icons">close</span></button></td>'
                '</tr>';
                                                 
        }

        delMateriaAluno = function(arg){

            $(arg).parent().parent()[0].innerHTML = ""
            
        }
        
    </script>

{% endblock head %}

{% block content %}

<div class="row">
    <div class="col-12">
        {% if msg_sucess %}

            <p class="green">{{ msg_sucess }}</p>

        {% endif %}
        <form method="POST">
            {% csrf_token %}

            <div class="row">
                <div class="col-6">
                    <label for="aluno">{{ form.aluno.label }}</label>
                    {{ form.aluno }}
                </div>
                <div class="col-6">
                    <button type="button" name="button" onclick="addMateriaAluno();" class="btn btn-primary rounded-circle"><span class="material-icons">add</span></button>
                </div>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>{{ form.materia.label }}</th>
                        <th>{{ form.dia_semana.label }}</th>
                        <th>{{ form.horario_inicial.label }}</th>
                        <th>{{ form.horario_final.label }}</th>
                        <th>Deletar</th>
                    </tr>
                </thead>
                <tbody id="rows_materias_alunos">

                </tbody>
            </table>

            <button class="btn btn-primary" style="margin-top: 10px;" type="submit">Salvar</button>
            
            
        </form>
    </div>
</div>

{% endblock content %}