{% extends "base.html" %}

{% block Title %}Redefinição{% endblock Title %}
{% block TituloPagina %}<h1>Confirmar redefinição da senha</h1>{% endblock TituloPagina %}

{% block content %}
    {% if validlink %}
        <p>Por favor insira (e confirme) sua nova senha.</p>
        <form action="" method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Nova senha:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirme a senha:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Mudar minha senha" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Falha na recuperação de senha</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
{% endblock %}